version: '3'
services:
  sshd:
    build: sshd
    restart: on-failure
  sshmitm:
    build: sshmitm
    ports: ['3000:3000']
    volumes:
       - ssh-log:/src/log
    restart: on-failure
  filebeats:
    build: filebeats
    restart: on-failure
    environment:
      - ELASTICSEARCH_HOSTS=23.99.106.134
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=myfyp@123
    volumes:
       - ssh-log:/log
       - json-log:/json

  tcpdump:
    build: tcpdump
    network_mode: "service:sshd"
    volumes:
      - pcap-log:/tcpdump
    cap_add:
      - NET_ADMIN

  arkime:
    build: arkime
    volumes:
      - pcap-log:/tcpdump
    environment:
      - ELASTICSEARCH_HOSTS=23.99.106.134
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=myfyp@123

#  tshark:
#    build: tshark
#    environment:
#      - ELASTICSEARCH_HOSTS=52.246.186.129
#      - ELASTICSEARCH_USERNAME=elastic
#      - ELASTICSEARCH_PASSWORD=myfyp@123
#      - MAX_FILE_SIZE=1000000
#      - SLEEP_DURATION=10
#    volumes:
#      - pcap-log:/in
#      - json-log:/out
volumes:
  ssh-log:
  pcap-log:
  json-log:
