version: '3'
services:
  sshd:
    build: sshd
    restart: on-failure
  sshmitm:
    build: sshmitm
    ports: ['3000:3000']
    volumes:
       - ssh-log:/src/log
    restart: on-failure
  filebeats:
    build: filebeats
    restart: on-failure
    volumes:
       - ssh-log:/log
volumes:
  ssh-log:
