version: '3'
services:
  sshd:
    build: sshd
    restart: on-failure
  sshmitm:
    build: sshmitm
    ports: ['22:3000']
    volumes:
       - ssh-log:/src/log
    restart: on-failure
  filebeats:
    build: filebeats
    restart: on-failure
    environment:
      - ELASTICSEARCH_HOSTS=23.99.106.134
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=myfyp@123
    volumes:
       - ssh-log:/log
       - json-log:/json

  tcpdump:
    build: tcpdump
    restart: on-failure
    network_mode: "service:sshd"
    cap_add:
      - NET_ADMIN
    volumes:
      - pcap-log:/tcpdump

  arkime:
    build: arkime
    restart: on-failure
    volumes:
      - pcap-log:/tcpdump
    command: ["--pcapfile","/tcpdump/tcpdump-pipe","--copy", "--flush", "-o", "offlineDispatchAfter=1"]
    
  httpd:
    build: httpd
    restart: on-failure
    ports:
      - 80:80
      
  packetbeat:
    build: packetbeat
    restart: on-failure
    environment:
      - ELASTICSEARCH_HOSTS=23.99.106.134
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=myfyp@123
    network_mode: "service:httpd"
    cap_add:
      - NET_ADMIN
#  tshark:
#    build: tshark
#    environment:
#      - ELASTICSEARCH_HOSTS=52.246.186.129
#      - ELASTICSEARCH_USERNAME=elastic
#      - ELASTICSEARCH_PASSWORD=myfyp@123
#      - MAX_FILE_SIZE=1000000
#      - SLEEP_DURATION=10
#    volumes:
#      - pcap-log:/in
#      - json-log:/out
volumes:
  ssh-log:
  pcap-log:
  json-log:
